.ripple-card-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.ripple-card-content {
  border: solid 1px color-mix(in srgb, var(--text-color) 20%, transparent);
  border-radius: 8px;
  z-index: 2;
  position: relative;
}

.ripple-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.blur-line-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ripple-inner {
  position: absolute;
}

.ripple-inner.shape-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.ripple-inner.shape-circle {
  border-radius: 50%;
}

.ripple-inner.inner-top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.ripple-inner.inner-top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.ripple-inner.inner-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.ripple-inner.inner-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.blur-line {
  background-color: color-mix(in srgb, var(--mantine-color-gray-6) 10%, transparent);
  box-shadow: 
    2px 0px 20px 0px color-mix(in srgb, var(--mantine-color-body) 20%, transparent),
    12px 0px 20px 12px color-mix(in srgb, var(--mantine-color-body) 30%, transparent) inset !important;
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
  height: 100%;
}