.ripple-effect-main {
  position: relative;
  overflow: hidden;
}

.ripple-effect-inner {
  position: absolute;
}

.ripple-effect-inner-circle {
  border-radius: 50%;
}

.ripple-effect-inner-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.ripple-effect-inner-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ripple-effect-inner-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.ripple-effect-inner-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.ripple-effect-glass-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.ripple-effect-glass {
  height: 100%;
  background: rgba(255, 255, 255, 0.00) !important;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
}