@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
  --text-7xl: 5rem;
  --text-heading1: 80px;
  --text-heading1--line-height: 1.2;
  --text-heading1--font-weight: 600;
  --text-heading2: 48px;
  --text-heading2--line-height: 1.2;
  --text-heading2--font-weight: 600;
  --text-heading3: 40px;
  --text-heading3--line-height: 1.2;
  --text-heading3--font-weight: 600;
  --text-heading4: 32px;
  --text-heading4--line-height: 1.2;
  --text-heading4--font-weight: 600;
  --text-heading5: 28px;
  --text-heading5--line-height: 1.2;
  --text-heading5--font-weight: 600;
  --text-body: 1rem;
  --text-body--line-height: 1.5;
  --text-body--font-weight: 300;
  --text-body-semibold: 1rem;
  --text-body-semibold--line-height: 1.5;
  --text-body-semibold--font-weight: 600;
  --text-body-bold: 1rem;
  --text-body-bold--line-height: 1.5;
  --text-body-bold--font-weight: 700;
  --color-primary: var(--mantine-color-primary-6);
  --color-primary-0: var(--mantine-color-primary-0);
  --color-primary-1: var(--mantine-color-primary-1);
  --color-primary-2: var(--mantine-color-primary-2);
  --color-primary-3: var(--mantine-color-primary-3);
  --color-primary-4: var(--mantine-color-primary-4);
  --color-primary-5: var(--mantine-color-primary-5);
  --color-primary-6: var(--mantine-color-primary-6);
  --color-primary-7: var(--mantine-color-primary-7);
  --color-primary-8: var(--mantine-color-primary-8);
  --color-primary-9: var(--mantine-color-primary-9);
  --color-dark: var(--mantine-color-dark-6);
  --color-dark-0: var(--mantine-color-dark-0);
  --color-dark-1: var(--mantine-color-dark-1);
  --color-dark-2: var(--mantine-color-dark-2);
  --color-dark-3: var(--mantine-color-dark-3);
  --color-dark-4: var(--mantine-color-dark-4);
  --color-dark-5: var(--mantine-color-dark-5);
  --color-dark-6: var(--mantine-color-dark-6);
  --color-dark-7: var(--mantine-color-dark-7);
  --color-dark-8: var(--mantine-color-dark-8);
  --color-dark-9: var(--mantine-color-dark-9);
  --color-gray: var(--mantine-color-gray-6);
  --color-gray-0: var(--mantine-color-gray-0);
  --color-gray-1: var(--mantine-color-gray-1);
  --color-gray-2: var(--mantine-color-gray-2);
  --color-gray-3: var(--mantine-color-gray-3);
  --color-gray-4: var(--mantine-color-gray-4);
  --color-gray-5: var(--mantine-color-gray-5);
  --color-gray-6: var(--mantine-color-gray-6);
  --color-gray-7: var(--mantine-color-gray-7);
  --color-gray-8: var(--mantine-color-gray-8);
  --color-gray-9: var(--mantine-color-gray-9);
  --color-red: var(--mantine-color-red-6);
  --color-red-0: var(--mantine-color-red-0);
  --color-red-1: var(--mantine-color-red-1);
  --color-red-2: var(--mantine-color-red-2);
  --color-red-3: var(--mantine-color-red-3);
  --color-red-4: var(--mantine-color-red-4);
  --color-red-5: var(--mantine-color-red-5);
  --color-red-6: var(--mantine-color-red-6);
  --color-red-7: var(--mantine-color-red-7);
  --color-red-8: var(--mantine-color-red-8);
  --color-red-9: var(--mantine-color-red-9);
  --color-pink: var(--mantine-color-pink-6);
  --color-pink-0: var(--mantine-color-pink-0);
  --color-pink-1: var(--mantine-color-pink-1);
  --color-pink-2: var(--mantine-color-pink-2);
  --color-pink-3: var(--mantine-color-pink-3);
  --color-pink-4: var(--mantine-color-pink-4);
  --color-pink-5: var(--mantine-color-pink-5);
  --color-pink-6: var(--mantine-color-pink-6);
  --color-pink-7: var(--mantine-color-pink-7);
  --color-pink-8: var(--mantine-color-pink-8);
  --color-pink-9: var(--mantine-color-pink-9);
  --color-grape: var(--mantine-color-grape-6);
  --color-grape-0: var(--mantine-color-grape-0);
  --color-grape-1: var(--mantine-color-grape-1);
  --color-grape-2: var(--mantine-color-grape-2);
  --color-grape-3: var(--mantine-color-grape-3);
  --color-grape-4: var(--mantine-color-grape-4);
  --color-grape-5: var(--mantine-color-grape-5);
  --color-grape-6: var(--mantine-color-grape-6);
  --color-grape-7: var(--mantine-color-grape-7);
  --color-grape-8: var(--mantine-color-grape-8);
  --color-grape-9: var(--mantine-color-grape-9);
  --color-violet: var(--mantine-color-violet-6);
  --color-violet-0: var(--mantine-color-violet-0);
  --color-violet-1: var(--mantine-color-violet-1);
  --color-violet-2: var(--mantine-color-violet-2);
  --color-violet-3: var(--mantine-color-violet-3);
  --color-violet-4: var(--mantine-color-violet-4);
  --color-violet-5: var(--mantine-color-violet-5);
  --color-violet-6: var(--mantine-color-violet-6);
  --color-violet-7: var(--mantine-color-violet-7);
  --color-violet-8: var(--mantine-color-violet-8);
  --color-violet-9: var(--mantine-color-violet-9);
  --color-indigo: var(--mantine-color-indigo-6);
  --color-indigo-0: var(--mantine-color-indigo-0);
  --color-indigo-1: var(--mantine-color-indigo-1);
  --color-indigo-2: var(--mantine-color-indigo-2);
  --color-indigo-3: var(--mantine-color-indigo-3);
  --color-indigo-4: var(--mantine-color-indigo-4);
  --color-indigo-5: var(--mantine-color-indigo-5);
  --color-indigo-6: var(--mantine-color-indigo-6);
  --color-indigo-7: var(--mantine-color-indigo-7);
  --color-indigo-8: var(--mantine-color-indigo-8);
  --color-indigo-9: var(--mantine-color-indigo-9);
  --color-blue: var(--mantine-color-blue-6);
  --color-blue-0: var(--mantine-color-blue-0);
  --color-blue-1: var(--mantine-color-blue-1);
  --color-blue-2: var(--mantine-color-blue-2);
  --color-blue-3: var(--mantine-color-blue-3);
  --color-blue-4: var(--mantine-color-blue-4);
  --color-blue-5: var(--mantine-color-blue-5);
  --color-blue-6: var(--mantine-color-blue-6);
  --color-blue-7: var(--mantine-color-blue-7);
  --color-blue-8: var(--mantine-color-blue-8);
  --color-blue-9: var(--mantine-color-blue-9);
  --color-cyan: var(--mantine-color-cyan-6);
  --color-cyan-0: var(--mantine-color-cyan-0);
  --color-cyan-1: var(--mantine-color-cyan-1);
  --color-cyan-2: var(--mantine-color-cyan-2);
  --color-cyan-3: var(--mantine-color-cyan-3);
  --color-cyan-4: var(--mantine-color-cyan-4);
  --color-cyan-5: var(--mantine-color-cyan-5);
  --color-cyan-6: var(--mantine-color-cyan-6);
  --color-cyan-7: var(--mantine-color-cyan-7);
  --color-cyan-8: var(--mantine-color-cyan-8);
  --color-cyan-9: var(--mantine-color-cyan-9);
  --color-teal: var(--mantine-color-teal-6);
  --color-teal-0: var(--mantine-color-teal-0);
  --color-teal-1: var(--mantine-color-teal-1);
  --color-teal-2: var(--mantine-color-teal-2);
  --color-teal-3: var(--mantine-color-teal-3);
  --color-teal-4: var(--mantine-color-teal-4);
  --color-teal-5: var(--mantine-color-teal-5);
  --color-teal-6: var(--mantine-color-teal-6);
  --color-teal-7: var(--mantine-color-teal-7);
  --color-teal-8: var(--mantine-color-teal-8);
  --color-teal-9: var(--mantine-color-teal-9);
  --color-green: var(--mantine-color-green-6);
  --color-green-0: var(--mantine-color-green-0);
  --color-green-1: var(--mantine-color-green-1);
  --color-green-2: var(--mantine-color-green-2);
  --color-green-3: var(--mantine-color-green-3);
  --color-green-4: var(--mantine-color-green-4);
  --color-green-5: var(--mantine-color-green-5);
  --color-green-6: var(--mantine-color-green-6);
  --color-green-7: var(--mantine-color-green-7);
  --color-green-8: var(--mantine-color-green-8);
  --color-green-9: var(--mantine-color-green-9);
  --color-lime: var(--mantine-color-lime-6);
  --color-lime-0: var(--mantine-color-lime-0);
  --color-lime-1: var(--mantine-color-lime-1);
  --color-lime-2: var(--mantine-color-lime-2);
  --color-lime-3: var(--mantine-color-lime-3);
  --color-lime-4: var(--mantine-color-lime-4);
  --color-lime-5: var(--mantine-color-lime-5);
  --color-lime-6: var(--mantine-color-lime-6);
  --color-lime-7: var(--mantine-color-lime-7);
  --color-lime-8: var(--mantine-color-lime-8);
  --color-lime-9: var(--mantine-color-lime-9);
  --color-yellow: var(--mantine-color-yellow-6);
  --color-yellow-0: var(--mantine-color-yellow-0);
  --color-yellow-1: var(--mantine-color-yellow-1);
  --color-yellow-2: var(--mantine-color-yellow-2);
  --color-yellow-3: var(--mantine-color-yellow-3);
  --color-yellow-4: var(--mantine-color-yellow-4);
  --color-yellow-5: var(--mantine-color-yellow-5);
  --color-yellow-6: var(--mantine-color-yellow-6);
  --color-yellow-7: var(--mantine-color-yellow-7);
  --color-yellow-8: var(--mantine-color-yellow-8);
  --color-yellow-9: var(--mantine-color-yellow-9);
  --color-orange: var(--mantine-color-orange-6);
  --color-orange-0: var(--mantine-color-orange-0);
  --color-orange-1: var(--mantine-color-orange-1);
  --color-orange-2: var(--mantine-color-orange-2);
  --color-orange-3: var(--mantine-color-orange-3);
  --color-orange-4: var(--mantine-color-orange-4);
  --color-orange-5: var(--mantine-color-orange-5);
  --color-orange-6: var(--mantine-color-orange-6);
  --color-orange-7: var(--mantine-color-orange-7);
  --color-orange-8: var(--mantine-color-orange-8);
  --color-orange-9: var(--mantine-color-orange-9);
}

* {
  font-family: var(--font-inter), Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  font-family: var(--font-inter), Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.00) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
}

.mantine-Badge-root {
  padding: 15px !important;
  padding-inline: 16px;
}

.mantine-Badge-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none !important;
}

.mantine-Badge-label>b {
  font-weight: 700;
}

.main-button {
  background: linear-gradient(180deg, var(--mantine-color-primary-6) 0%, var(--mantine-color-primary-9) 100%) !important;
}

.main-badge {
  background: var(--main-badge-bg) !important;
  border-color: var(--main-badge-border-color) !important;
}

.main-badge2 {
  background: var(--main-badge-bg) !important;
  border-color: var(--main-badge-2-border-color) !important;
}

.title-badge {
  border-color: var(--main-badge-border-color) !important;
}

.light-badge {
  background: linear-gradient(91.29deg, color-mix(in srgb, var(--badge-bg) 30%, transparent) 0%, color-mix(in srgb, var(--badge-bg) 4%, transparent) 100%) !important;
  border-color: color-mix(in srgb, var(--text-color) 20%, transparent) !important;
}

.main-badge>.mantine-Badge-label {
  color: var(--main-badge-color) !important;
}

.main-badge2>.mantine-Badge-label {
  color: var(--main-badge-2-color) !important;
}

.title-badge>.mantine-Badge-label {
  color: var(--mantine-color-primary-6) !important;
}

.light-badge>.mantine-Badge-label {
  color: var(--badge-bg) !important;
  font-weight: 700;
}
