.home-section {
  position: relative;
}

<<<<<<< HEAD
.home-section-content > * {
  z-index: 2;
}

.home-section > .home-ripple {
  position: absolute;
  z-index: 1;
}

.home-ripple.ripple-l {
  top: 355px;
  left: 0;
}

.home-ripple.ripple-r {
  top: -478px;
  right: -300px;
=======
.home-section-ripple-l {
  position: absolute;
  top: 58%;
  left: 0;
  z-index: 1;
}

.home-section-ripple-r {
  position: absolute;
  top: -400px;
  right: -235px;
  z-index: 1;
>>>>>>> origin/stagging
}

.home-section-content {
  position: relative;
  z-index: 2;
}

.home-ornament {
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.ornament-1 {
  top: 152px;
  left: 100px;
}

.ornament-2 {
  top: 308px;
  right: 72px;
}

.ornament-3 {
  top: 467px;
  left: 185px;
}

.ornament-4 {
  top: 521px;
  right: 140px;
}

.home-section-mobile {
  .ripple-l {
    top: 597px;
    left: 0;
  }

<<<<<<< HEAD
  .ripple-r {
=======
  .home-section-ripple-r {
>>>>>>> origin/stagging
    top: -310px;
    right: -245px;
  }

  .ornament-1 {
<<<<<<< HEAD
    top: 62px;
=======
    top: 17px;
>>>>>>> origin/stagging
    left: 52px;
  }
  
  .ornament-3 {
<<<<<<< HEAD
    top: 112px;
=======
    top: 67px;
>>>>>>> origin/stagging
    right: 20px;
    left: unset;
  }
  
  .ornament-2 {
<<<<<<< HEAD
    top: 750px;
=======
    top: 705px;
>>>>>>> origin/stagging
    left: 91px;
    right: unset;
  }
  
  .ornament-4 {
<<<<<<< HEAD
    top: 785px;
=======
    top: 740px;
>>>>>>> origin/stagging
    right: 46px;
  }
}

<<<<<<< HEAD
=======
.main-badge {
  padding: 15px;
  padding-inline: 16px;
  background: var(--main-badge-bg) !important;
  border-color: var(--main-badge-border-color) !important;
}

.main-badge2 {
  padding: 15px;
  padding-inline: 16px;
  background: var(--main-badge-bg) !important;
  border-color: var(--main-badge-2-border-color) !important;
}

.main-badge>.mantine-Badge-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none !important;
  color: var(--main-badge-color) !important;
}

.main-badge2>.mantine-Badge-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: none !important;
  color: var(--main-badge-2-color) !important;
}

.main-badge>.mantine-Badge-label>b {
  font-weight: 700;
}


.main-badge2>.mantine-Badge-label>b {
  color: var(--main-badge-color) !important;
  font-weight: 400;
}

>>>>>>> origin/stagging
.home-main-text {
  display: inline-block;
  background-image: linear-gradient(
    180deg,
    var(--text-color) 0%,
    rgba(153, 153, 153, 0.6)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

<<<<<<< HEAD
.timeline-container {
  position: relative;
  width: 100%;
}

.timeline-line {
  height: 100%;
  width: 2px;
  position: absolute;
  background: linear-gradient(
    180deg, 
    color-mix(in srgb, var(--text-color) 0%, transparent) -5%,
    color-mix(in srgb, var(--text-color) 80%, transparent) 50%, 
    color-mix(in srgb, var(--text-color) 0%, transparent) 105%
  );
  top: 0;
  left: 34px;
  transform: translateX(-50%);
}

.timeline-container.center .timeline-line {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
=======
>>>>>>> origin/stagging
