.auth-layout-container {
  --mantine-color-body: black !important;

  background-color: var(--mantine-color-body);
  min-height: 100dvh;
}

.auth-layout-accent-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 500px;
}

.auth-layout-accent-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  align-items: center;
}

.auth-layout-accent-content * {
  color: white;
}

.accent-description {
  opacity: 0.6;
}

.auth-layout-content-container {
  z-index: 2;
  background-color: white;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.auth-layout-ripple {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
  z-index: 1;
}

.auth-layout-content {
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px 0px color-mix(in srgb, var(--mantine-color-body) 10%, transparent);
  width: 100%;
  max-width: 600px;
}

.layout-mobile {
  --accent-height: 240px;
  
  .auth-layout-accent-container {
    width: 100% !important;
    height: var(--accent-height) !important;
  }

  .auth-layout-content-container {
    min-height: calc(100dvh - var(--accent-height));
  }

  .auth-layout-ripple {
    top: -40px;
  }

  .auth-layout-content {
    padding: 0 !important;
    box-shadow: none !important;
  }

}