.ornament-main-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.ornament-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid 1px var(--ornament-color);
  width: fit-content;
  box-shadow:
    0px 0px 27.38px 3.65px color-mix(in srgb, var(--ornament-color) 25%, transparent) inset,
    0px 0px 10.95px 10.95px color-mix(in srgb, var(--ornament-color) 7%, transparent);
  color: var(--ornament-color);
  background-color: var(--mantine-color-body);
  z-index: 2;
}

.ornament-main-shadow {
  position: absolute;
  bottom: -5%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 20px 15px color-mix(in srgb, var(--ornament-color) 30%, transparent),
    0px 0px 20px 3.65px color-mix(in srgb, var(--ornament-color) 30%, transparent) inset;
}
  