.ornament-main-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, -24px, 0);
  opacity: 0;
  will-change: transform, opacity;
}

.ornament-main-container.is-visible {
  animation: ornament-bounce-in-down 0.95s forwards;
}

@keyframes ornament-bounce-in-down {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, -300px, 0) scaleY(2.5);
  }
  60% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, 5px, 0) scaleY(0.985);
  }
  100% {
    opacity: 1;
    transform: rotate(var(--ornament-rotation, 0deg)) translate3d(0, 0, 0) scaleY(1);
  }
}

.ornament-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid 1px var(--ornament-color);
  width: fit-content;
  box-shadow:
    0px 0px 27.38px 3.65px color-mix(in srgb, var(--ornament-color) 25%, transparent) inset,
    0px 0px 10.95px 10.95px color-mix(in srgb, var(--ornament-color) 7%, transparent);
  color: var(--ornament-color);
  background-color: var(--mantine-color-body);
  z-index: 2;
  transform: scale(1);
  transition: transform 0.35s ease;
}

.ornament-main-container:hover .ornament-main {
  transform: scale(1.2);
}

.ornament-main-shadow {
  position: absolute;
  bottom: -5%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 20px 15px color-mix(in srgb, var(--ornament-color) 30%, transparent),
    0px 0px 20px 3.65px color-mix(in srgb, var(--ornament-color) 30%, transparent) inset;
}
  