.input { 
  --input-radius: 2rem;
  padding: 12px 16px;
  height: 100%;
  padding-inline-start: var(--input-padding-inline-start, 16px);
  padding-inline-end: var(--input-padding-inline-end, 16px);
}

.label {
  font-weight: 400;
  font-size: 14px;
}

